/* src/components/Cart.css */

.cart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f6f0e8;
  padding: 80px 0px 80px 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 999;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 60vh; /* Limit height to 70% of the viewport */
  height: auto;
  box-sizing: border-box;
}

.cart.dark {
  background-color: #000;
}

.order-message {
  background-color: #C55D6C;
  color: #ffffff;
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.order-message p {
  color: #ffffff;
}


.cart-wrapper {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-left: 80px;
  overflow-y: auto; /* Ensure the items inside the wrapper can scroll */

}

.cart h2 {
  margin-bottom: 32px;
}

.cart.dark span {
  color: #fff;
}

.cart-items {
  width: 100%;;
}

.cart-item {
  width: 100%;
}

.cart-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: row;
}

.cart-item-header {
  margin-bottom: 16px !important;
  font-weight: bold;
  width: 96px;
}

.cart-item-product {
  width: 300px;
}

.cart-item-name {
  flex: 2;
  text-align: left;
  color: #001f2c;
  font-weight: 400;
}

.cart-item-quantity-selector {
  width: 96px;
}

.cart-item-quantity-selector button {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  color: #001f2c;
}

.cart-item-quantity-selector span {
  margin: 0 10px;
  font-size: 1rem;
}

.cart-item-price,
.cart-item-total {
  flex: 1;
  text-align: right;
  color: #001f2c;
  font-weight: 400;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 12px;
  padding-right: 80px;
}

.cart-checkout h3 {
  padding-bottom: 16px;
}

#cart-secondary-button {
  width: 100%;
}

@media (max-width: 820px) {
  .cart {
    flex-direction: column;
    padding: 40px 0px 40px 0px;
    max-height: 100vh; /* Adjust to fit mobile screen better */
    height: auto;
  }

  .cart-wrapper {
    padding-left: 24px;
    padding-top: 40px;
    width: 96vw;
  }

  .cart-item {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 15px;
    flex-direction: column;
  }

  .cart-item-header {
    margin-top: 16px;
  }

  .cart-checkout {
    margin: auto;
    padding: 0px;
  }

  .cart-checkout h3 {
    padding-top: 16px;
  }

}